@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
.font-inter {
  font-family: var(--font-inter);
}
.bigtextLogo {
  width: 88px;
  height: 88px;
  font-size: 24px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 100%;
  background-color: #FA8F53;
  border-radius: 100px;
  padding: 4px 2px 4px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10;

}
.smalltextLogo {
  width: 32px;
  height: 32px;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 100%;
  background-color: #FA8F53;
  border-radius: 100px;
  padding: 4px 2px 4px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10;

}
